.layoutContainer {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: #f5f5f5;
}
